GIT_REPO:="{{ repository.repo }}"
REPO_DIR:={{ repository.directory }}
REPO_BRANCH:={{ repository.branch }}
REPO_APP_PATH:={{ repository.app_path }}
REPO_NGX_PATH:={{ repository.nginx_path }}
REPO_MYSQL_PATH:={{ repository.mysql_path }}
REPO_OTHER_PATH:={{ repository.other_path }}

FB_SRV_NAME:=fluent-bit.service

APP_SRV_NAME:={{ app.service.name }}
APP_SRV_FILE:={{ app.service.file }}
BUILD_DIR:={{ app.build.dir }}
BUILD_CMD:={{ app.build.cmd }}
APP_BASE:={{ app.repo_sync.base }}
APP_LIST:={{ app.repo_sync.path_list | join(" ") }}

KATARIBE_CFG:=/home/isucon/kataribe.toml

DB_HOST:={{ mysql.connection.host }}
DB_PORT:={{ mysql.connection.port }}
DB_USER:={{ mysql.connection.user }}
DB_PASS:={{ mysql.connection.password }}
DB_NAME:={{ mysql.connection.database }}

NGX_SRV_NAME:={{ nginx.service.name }}
NGX_SRV_FILE:={{ nginx.service.file }}
NGX_LOG:={{ nginx.access_log }}
NGX_MAIN_CFG:={{ nginx.main_conf }}
NGX_CFG_DIR:={{ nginx.repo_sync.base }}
NGX_CFG_LIST:={{ nginx.repo_sync.path_list | join(" ") }}

MYSQL_SRV_NAME:={{ mysql.service.name }}
MYSQL_SRV_FILE:={{ mysql.service.file }}
MYSQL_LOG:={{ mysql.slow_query_log }}
MYSQL_MAIN_CFG:={{ mysql.main_conf }}
MYSQL_CFG_DIR:={{ mysql.repo_sync.base }}
MYSQL_CFG_LIST:={{ mysql.repo_sync.path_list | join(" ") }}
MYSQL_USER=mysql

OTHER_LIST:={{ repository.sync_list | join(" ") }}
