services:
  loki:
    container_name: loki
    image: grafana/loki:{{ loki_version }}
    restart: unless-stopped
    command: "-config.file /etc/loki/loki.yaml"
    ports:
      - "{{ local.loki_port }}:3100"
      - "9305:9095"
    expose:
      - 3100
    volumes:
      - {{ monitor_path }}/loki/data:/var/lib/loki
      - {{ monitor_path }}/loki/loki.yaml:/etc/loki/loki.yaml:ro
  pyroscope:
    container_name: pyroscope
    image: grafana/pyroscope:{{ pyroscope_version }}
    restart: unless-stopped
    ports:
      - "{{ local.pyroscope_port }}:4040"
    expose:
      - 4040
    volumes:
      - {{ monitor_path }}/pyroscope/data:/data
      - {{ monitor_path }}/pyroscope/config.yaml:/etc/pyroscope/config.yaml:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4040/ready"]
      interval: 10s
      timeout: 10s
      retries: 10
  alloy:
    container_name: alloy
    image: grafana/alloy:v{{ alloy_version }}
    restart: unless-stopped
    command:
      - "run"
      - "--server.http.listen-addr=0.0.0.0:12345"
      - "--storage.path=/var/lib/alloy/data"
      - "/etc/alloy/config.alloy"
    ports:
      - "12345:12345"
    expose:
      - 12345
    volumes:
      - {{ monitor_path }}/alloy/data:/var/lib/alloy/data
      - {{ monitor_path }}/alloy/config.alloy:/etc/alloy/config.alloy:ro
  prometheus:
    container_name: prometheus
    image: prom/prometheus:{{ prometheus_version }}
    restart: always
    command: [
      "--config.file=/etc/prometheus/prometheus.yml",
      "--storage.tsdb.path=/prometheus",
      "--storage.tsdb.retention=30d",
      "--web.console.libraries=/usr/share/prometheus/console_libraries",
      "--web.console.templates=/usr/share/prometheus/consoles",
      "--web.enable-lifecycle"
    ]
    user: root
    ports:
      - "9090:9090"
    expose:
      - "9090"
    volumes:
      - {{ monitor_path }}/prometheus:/etc/prometheus
      - {{ monitor_path }}/prometheus/data:/prometheus
  grafana:
    container_name: grafana
    image: grafana/grafana:{{ grafana_version }}
    restart: always
    user: root
    environment:
      GF_FEATURE_TOGGLES_ENABLE: flameGraph
    ports:
      - "3000:3000"
    volumes:
      - {{ monitor_path }}/grafana/data:/var/lib/grafana
      - {{ monitor_path }}/grafana/grafana.ini:/etc/grafana/grafana.ini:ro
