auth_enabled: false

server:
  http_listen_port: 3100

ingester:
  wal:
    dir: /var/lib/loki/wal
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
    final_sleep: 0s
  chunk_idle_period: 5m
  chunk_retain_period: 30s

schema_config:
  configs:
    - from: 2020-11-18
      store: boltdb
      object_store: filesystem
      schema: v11
      index:
        prefix: loki_index_
        period: 168h

storage_config:
  boltdb:
    directory: /var/lib/loki/index
  filesystem:
    directory: /var/lib/loki/chunks

limits_config:
  enforce_metric_name: false
  ingestion_rate_mb: 1024
  ingestion_burst_size_mb: 1024

table_manager:
  retention_deletes_enabled: true
  # 28 days retention
  retention_period: 672h

chunk_store_config:
  chunk_cache_config:
    enable_fifocache: true
    fifocache:
      max_size_bytes: 100MB

query_range:
  results_cache:
    cache:
      enable_fifocache: true
      fifocache:
        max_size_bytes: 100MB
